.satu {
    text-align: center;
    background-color: red;
    height: 100px;
}

.dua {
    background-color: tomato;
    height: 400px;
}

.tiga {
    background-color: powderblue;
    height: 50px;
}